.tagsInnerContainer {
  border-radius: 10px;
  padding: 16px 5px;
  background: #EC4926;
}

.description {
  font-size: 16px;
  line-height: 24px;
  color: #0A0A0A;
  margin: 0
}

.wrappedContainer {
  background: black;
}

.innerContainer {
  height: 100%;
}
